FLOW.json
[{"id":"9fed82f8.e357d","type":"tab","label":"IBM HACKS 2020","disabled":false,"info":""},{"id":"1f712ced.efddb3","type":"function","z":"9fed82f8.e357d","name":"Function","func":"msg.payload=msg.payload.temperature;\nvar temp= global.set(\"temp\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":60,"wires":[[]]},{"id":"a0df13e1.7dc99","type":"debug","z":"9fed82f8.e357d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":80,"wires":[]},{"id":"f330feb5.1fb8c","type":"function","z":"9fed82f8.e357d","name":"Set_date_time","func":"msg.payload = {\"Temperature\": global.get(\"temp\"),\n    \"Date\":new Date().toLocaleDateString(),\n    \"Time\" : new Date().toLocaleTimeString()};\nreturn msg;\n\n","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["966cd6e.87f4628","276d3bbb.4f7da4","a0df13e1.7dc99","dad62b84.e7e948","e301540c.379c78"]]},{"id":"e301540c.379c78","type":"cloudant out","z":"9fed82f8.e357d","name":"","cloudant":"9bd575a1.6da9a8","database":"temperature_analysis","service":"combatrona-cloudant-1592658475903-83590","payonly":true,"operation":"insert","x":600,"y":240,"wires":[]},{"id":"8b54e63.bba5218","type":"cloudant in","z":"9fed82f8.e357d","name":"","cloudant":"e117ab5d.1c10c8","database":"temperature_analysis","service":"combatrona-cloudant-1592658475903-83590","search":"_all_","design":"","index":"time","x":600,"y":300,"wires":[["e572881d.a85cc8"]]},{"id":"e572881d.a85cc8","type":"function","z":"9fed82f8.e357d","name":"Find_records","func":"rec=msg.payload\nmsg.payload=[]\nfor (i=0;i<rec.length;i++)\n{\nif(rec[i].Date==global.get(\"findDate\")&&rec[i].Temperature>=global.get(\"findTemp\"))\n{\nmsg.payload= msg.payload.concat(rec[i])\n}\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["14f1bbb7.c98ed4"]]},{"id":"ce474247.339e8","type":"debug","z":"9fed82f8.e357d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":380,"wires":[]},{"id":"e3a08203.cfbe7","type":"function","z":"9fed82f8.e357d","name":"Get_date_time","func":"var d = new Date(msg.payload.Date)\nd.setDate(d.getDate()+1)\nvar findDate= global.set(\"findDate\",d.toLocaleDateString())\nvar findTemp= global.set(\"findTemp\",msg.payload.Temperature)\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["8b54e63.bba5218","ce474247.339e8"]]},{"id":"14f1bbb7.c98ed4","type":"json","z":"9fed82f8.e357d","name":"","property":"payload","action":"obj","pretty":true,"x":550,"y":340,"wires":[["c6ba9c64.11025"]]},{"id":"4f0d733b.3d6e7c","type":"inject","z":"9fed82f8.e357d","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":440,"wires":[["ddfb4013.823ad"]]},{"id":"9b464226.488d2","type":"function","z":"9fed82f8.e357d","name":"UI_Parser","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":480,"wires":[["a093804a.70c9f","ddfb4013.823ad"]]},{"id":"ddfb4013.823ad","type":"watson-conversation-v1","z":"9fed82f8.e357d","name":"Covid-19 Bot","workspaceid":"8c4ceeb7-0e3b-4b74-b657-8b4aa077d7c1","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":" https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/76b4ac67-f20f-4fa1-a368-f847a9125d0f","timeout":"","optout-learning":false,"x":290,"y":440,"wires":[["58602c3e.61ba94"]]},{"id":"58602c3e.61ba94","type":"function","z":"9fed82f8.e357d","name":"Chat","func":"if (msg.payload.output.generic[0].response_type==\"image\"){\n    msg.url = msg.payload.output.generic[0].source\n    msg.payload = msg.payload.output.generic[0].title\n}\nelse{\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["5445fc73.bbbb04","cd5e4a6b.8dd648"]]},{"id":"cd5e4a6b.8dd648","type":"debug","z":"9fed82f8.e357d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":480,"wires":[]},{"id":"b7fea01d.297f7","type":"comment","z":"9fed82f8.e357d","name":"Temperature gun","info":"","x":140,"y":20,"wires":[]},{"id":"5cbe6868.1ffb58","type":"comment","z":"9fed82f8.e357d","name":"Trigger Temperature gun","info":"","x":170,"y":120,"wires":[]},{"id":"e1a92015.f1929","type":"comment","z":"9fed82f8.e357d","name":"Search records","info":"","x":140,"y":300,"wires":[]},{"id":"6f0633ca.6f24fc","type":"comment","z":"9fed82f8.e357d","name":"Helpdesk","info":"","x":120,"y":400,"wires":[]},{"id":"41dea8e4.32b9b8","type":"function","z":"9fed82f8.e357d","name":"Classifier_ID","func":"msg.params={\"classifier_ids\":\"DefaultCustomModel_1777985235\"}\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["bd8b96f.83db468"]]},{"id":"bd8b96f.83db468","type":"visual-recognition-v3","z":"9fed82f8.e357d","name":"Testing","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/027255d5-3b33-45dd-a028-7cdbcf929e4b","image-feature":"classifyImage","lang":"en","x":560,"y":640,"wires":[["12e1697.4f16197"]]},{"id":"12e1697.4f16197","type":"function","z":"9fed82f8.e357d","name":"Check","func":"\nif (msg.result.images[0].classifiers[0].classes[0].class=='Without Mask')\n{\nmsg.payload=msg.result.images[0].classifiers[0].classes[0].class='NOT ALLOWED!';\n}\nelse{\nmsg.payload=msg.result.images[0].classifiers[0].classes[0].class='Welcome to your ride!';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":640,"wires":[["549c70bd.8118","4bc02ab.27f5ed4"]]},{"id":"fb3e0e17.6086f","type":"comment","z":"9fed82f8.e357d","name":"Real-time updates","info":"","x":150,"y":520,"wires":[]},{"id":"d809dca1.796ad","type":"comment","z":"9fed82f8.e357d","name":"Mask Detection","info":"","x":140,"y":600,"wires":[]},{"id":"4bc02ab.27f5ed4","type":"debug","z":"9fed82f8.e357d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":680,"wires":[]},{"id":"a84b08fd.1b2348","type":"inject","z":"9fed82f8.e357d","name":"","topic":"","payload":"Submit Again Please!","payloadType":"str","repeat":"120","crontab":"","once":true,"onceDelay":0.1,"x":620,"y":600,"wires":[["549c70bd.8118"]]},{"id":"a15e3d22.178e3","type":"comment","z":"9fed82f8.e357d","name":"Maps","info":"","x":110,"y":720,"wires":[]},{"id":"3fda43d7.cfffac","type":"ui_button","z":"9fed82f8.e357d","name":"","group":"d4bc6d58.29fc","order":4,"width":5,"height":1,"passthru":true,"label":"Trigger the Temp-Gun","tooltip":"","color":"","bgcolor":"light blue","icon":"","payload":"","payloadType":"num","topic":"","x":160,"y":160,"wires":[["f330feb5.1fb8c"]]},{"id":"966cd6e.87f4628","type":"ui_text","z":"9fed82f8.e357d","group":"d4bc6d58.29fc","order":2,"width":9,"height":1,"name":"","label":"Time","format":"{{msg.payload.Time}}","layout":"row-spread","x":650,"y":120,"wires":[]},{"id":"276d3bbb.4f7da4","type":"ui_text","z":"9fed82f8.e357d","group":"d4bc6d58.29fc","order":1,"width":9,"height":1,"name":"","label":"Temperature","format":"{{msg.payload.Temperature}}","layout":"row-spread","x":630,"y":160,"wires":[]},{"id":"a093804a.70c9f","type":"ui_text","z":"9fed82f8.e357d","group":"f60e028f.36bcb","order":2,"width":10,"height":1,"name":"","label":"You:","format":"{{msg.payload|uppercase}}","layout":"row-left","x":550,"y":480,"wires":[]},{"id":"5445fc73.bbbb04","type":"ui_text","z":"9fed82f8.e357d","group":"f60e028f.36bcb","order":1,"width":10,"height":"5","name":"Chatbot","label":"","format":"{{msg.payload}}","layout":"col-center","x":780,"y":440,"wires":[]},{"id":"549c70bd.8118","type":"ui_text","z":"9fed82f8.e357d","group":"5859af2b.e1fa2","order":2,"width":0,"height":0,"name":"","label":"Output:","format":"{{msg.payload}}","layout":"row-center","x":820,"y":600,"wires":[]},{"id":"2c3e1e0e.eb45d2","type":"ui_form","z":"9fed82f8.e357d","name":"Search","label":"","group":"508f9455.4a604c","order":1,"width":13,"height":3,"options":[{"label":"Date","value":"Date","type":"date","required":true,"rows":null},{"label":"Check for Temperature (in F)","value":"Temperature","type":"number","required":true,"rows":null}],"formValue":{"Date":"","Temperature":""},"payload":"","submit":"Find","cancel":"","topic":"Search","x":120,"y":340,"wires":[["e3a08203.cfbe7"]]},{"id":"6fffbfee.588b1","type":"ui_form","z":"9fed82f8.e357d","name":"Chat","label":"","group":"f60e028f.36bcb","order":3,"width":"0","height":"0","options":[{"label":"Type Here","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"Send","cancel":"Cancel","topic":"","x":110,"y":480,"wires":[["9b464226.488d2"]]},{"id":"dad62b84.e7e948","type":"ui_gauge","z":"9fed82f8.e357d","name":"","group":"d4bc6d58.29fc","order":6,"width":9,"height":7,"gtype":"gage","title":"Temperature","label":"°F","format":"{{msg.payload.Temperature}}","min":"85","max":"105","colors":["#62f973","#24a5e5","#f00a0a"],"seg1":"96","seg2":"99","x":630,"y":200,"wires":[]},{"id":"c6ba9c64.11025","type":"ui_template","z":"9fed82f8.e357d","group":"508f9455.4a604c","name":"","order":2,"width":13,"height":10,"format":"<table width=\"100%\" border=\"1\" bgcolor = \"#0094CE\">\n<basefont face = \"verdana\" size = \"2\" color = \"black\">\n    <caption>RESULTS FOUND</caption>\n    <tr>\n        <th width = \"40%\">ID</th>\n        <th width = \"20%\">TIME</th>\n        <th width = \"20%\">DATE</th>\n        <th width = \"20%\">TEMPERATURE</th>\n    </tr>\n    <tr ng-repeat=\"(k,v) in msg.payload\">\n        <td width = \"40%\">{{v._id}}</td>\n        <td width = \"20%\">{{v.Time}}</td>\n        <td width = \"20%\">{{v.Date}}</td>\n        <td width = \"20%\">{{v.Temperature}}</td>\n    </tr>\n</table>","storeOutMessages":false,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":780,"y":340,"wires":[["ce474247.339e8"]]},{"id":"33b2c12b.f03ade","type":"ui_template","z":"9fed82f8.e357d","group":"734e99f5.255d68","name":"Worldometer","order":1,"width":15,"height":"13","format":"<!DOCTYPE html>\n<html>\n<body>\n<h2><center><font color='#0094CE'>Real-Time Coronavirus Updates</font></center></h2>\n<iframe src=\"https://www.worldometers.info/coronavirus/country/india/\" width=\"100%\" height=\"100%\">\n</iframe>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":130,"y":560,"wires":[[]]},{"id":"da902e4a.f40a7","type":"ui_template","z":"9fed82f8.e357d","group":"5859af2b.e1fa2","name":"","order":1,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: White!important;\n\t}\n\th4 {\n    color: #0094CE;\n\t}\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #0094CE;\n\t\tborder-color: #0094CE;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: Black;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n    #camera,#res{\n            border: 1px solid black;\n            height:auto;\n            width:auto;\n        }\n\t</style>\n</head>\n<body>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div id ='camera'>\n                    </div>\n                    <button onclick=\"take_snapshot()\"style=\"background-color:#0094CE;\">Take Picture</button>\n                    <div id=\"res\"></div>\n\t\t\t\t\t<br>\n\t\t\t\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict \n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button id='submit' type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\" style=\"background-color:#0094CE;\">CHECK</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> </h5>\n\t\t\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n\n<script>\n    // WebcamJS v1.0.25 - http://github.com/jhuckaby/webcamjs - MIT Licensed\n(function(e){var t;function a(){var e=Error.apply(this,arguments);e.name=this.name=\"FlashError\";this.stack=e.stack;this.message=e.message}function i(){var e=Error.apply(this,arguments);e.name=this.name=\"WebcamError\";this.stack=e.stack;this.message=e.message}var s=function(){};s.prototype=Error.prototype;a.prototype=new s;i.prototype=new s;var Webcam={version:\"1.0.26\",protocol:location.protocol.match(/https/i)?\"https\":\"http\",loaded:false,live:false,userMedia:true,iOS:/iPad|iPhone|iPod/.test(navigator.userAgent)&&!e.MSStream,params:{width:0,height:0,dest_width:0,dest_height:0,image_format:\"jpeg\",jpeg_quality:90,enable_flash:true,force_flash:false,flip_horiz:false,fps:30,upload_name:\"webcam\",constraints:null,swfURL:\"\",flashNotDetectedText:\"ERROR: No Adobe Flash Player detected.  Webcam.js relies on Flash for browsers that do not support getUserMedia (like yours).\",noInterfaceFoundText:\"No supported webcam interface found.\",unfreeze_snap:true,iosPlaceholderText:\"Click here to open camera.\",user_callback:null,user_canvas:null},errors:{FlashError:a,WebcamError:i},hooks:{},init:function(){var t=this;this.mediaDevices=navigator.mediaDevices&&navigator.mediaDevices.getUserMedia?navigator.mediaDevices:navigator.mozGetUserMedia||navigator.webkitGetUserMedia?{getUserMedia:function(e){return new Promise(function(t,a){(navigator.mozGetUserMedia||navigator.webkitGetUserMedia).call(navigator,e,t,a)})}}:null;e.URL=e.URL||e.webkitURL||e.mozURL||e.msURL;this.userMedia=this.userMedia&&!!this.mediaDevices&&!!e.URL;if(navigator.userAgent.match(/Firefox\\D+(\\d+)/)){if(parseInt(RegExp.$1,10)<21)this.userMedia=null}if(this.userMedia){e.addEventListener(\"beforeunload\",function(e){t.reset()})}},exifOrientation:function(e){var t=new DataView(e);if(t.getUint8(0)!=255||t.getUint8(1)!=216){console.log(\"Not a valid JPEG file\");return 0}var a=2;var i=null;while(a<e.byteLength){if(t.getUint8(a)!=255){console.log(\"Not a valid marker at offset \"+a+\", found: \"+t.getUint8(a));return 0}i=t.getUint8(a+1);if(i==225){a+=4;var s=\"\";for(n=0;n<4;n++){s+=String.fromCharCode(t.getUint8(a+n))}if(s!=\"Exif\"){console.log(\"Not valid EXIF data found\");return 0}a+=6;var r=null;if(t.getUint16(a)==18761){r=false}else if(t.getUint16(a)==19789){r=true}else{console.log(\"Not valid TIFF data! (no 0x4949 or 0x4D4D)\");return 0}if(t.getUint16(a+2,!r)!=42){console.log(\"Not valid TIFF data! (no 0x002A)\");return 0}var o=t.getUint32(a+4,!r);if(o<8){console.log(\"Not valid TIFF data! (First offset less than 8)\",t.getUint32(a+4,!r));return 0}var l=a+o;var h=t.getUint16(l,!r);for(var c=0;c<h;c++){var d=l+c*12+2;if(t.getUint16(d,!r)==274){var f=t.getUint16(d+2,!r);var m=t.getUint32(d+4,!r);if(f!=3&&m!=1){console.log(\"Invalid EXIF orientation value type (\"+f+\") or count (\"+m+\")\");return 0}var p=t.getUint16(d+8,!r);if(p<1||p>8){console.log(\"Invalid EXIF orientation value (\"+p+\")\");return 0}return p}}}else{a+=2+t.getUint16(a+2)}}return 0},fixOrientation:function(e,t,a){var i=new Image;i.addEventListener(\"load\",function(e){var s=document.createElement(\"canvas\");var r=s.getContext(\"2d\");if(t<5){s.width=i.width;s.height=i.height}else{s.width=i.height;s.height=i.width}switch(t){case 2:r.transform(-1,0,0,1,i.width,0);break;case 3:r.transform(-1,0,0,-1,i.width,i.height);break;case 4:r.transform(1,0,0,-1,0,i.height);break;case 5:r.transform(0,1,1,0,0,0);break;case 6:r.transform(0,1,-1,0,i.height,0);break;case 7:r.transform(0,-1,-1,0,i.height,i.width);break;case 8:r.transform(0,-1,1,0,0,i.width);break}r.drawImage(i,0,0);a.src=s.toDataURL()},false);i.src=e},attach:function(a){if(typeof a==\"string\"){a=document.getElementById(a)||document.querySelector(a)}if(!a){return this.dispatch(\"error\",new i(\"Could not locate DOM element to attach to.\"))}this.container=a;a.innerHTML=\"\";var s=document.createElement(\"div\");a.appendChild(s);this.peg=s;if(!this.params.width)this.params.width=a.offsetWidth;if(!this.params.height)this.params.height=a.offsetHeight;if(!this.params.width||!this.params.height){return this.dispatch(\"error\",new i(\"No width and/or height for webcam.  Please call set() first, or attach to a visible element.\"))}if(!this.params.dest_width)this.params.dest_width=this.params.width;if(!this.params.dest_height)this.params.dest_height=this.params.height;this.userMedia=t===undefined?this.userMedia:t;if(this.params.force_flash){t=this.userMedia;this.userMedia=null}if(typeof this.params.fps!==\"number\")this.params.fps=30;var r=this.params.width/this.params.dest_width;var o=this.params.height/this.params.dest_height;if(this.userMedia){var n=document.createElement(\"video\");n.setAttribute(\"autoplay\",\"autoplay\");n.setAttribute(\"playsinline\",\"playsinline\");n.style.width=\"\"+this.params.dest_width+\"px\";n.style.height=\"\"+this.params.dest_height+\"px\";if(r!=1||o!=1){a.style.overflow=\"hidden\";n.style.webkitTransformOrigin=\"0px 0px\";n.style.mozTransformOrigin=\"0px 0px\";n.style.msTransformOrigin=\"0px 0px\";n.style.oTransformOrigin=\"0px 0px\";n.style.transformOrigin=\"0px 0px\";n.style.webkitTransform=\"scaleX(\"+r+\") scaleY(\"+o+\")\";n.style.mozTransform=\"scaleX(\"+r+\") scaleY(\"+o+\")\";n.style.msTransform=\"scaleX(\"+r+\") scaleY(\"+o+\")\";n.style.oTransform=\"scaleX(\"+r+\") scaleY(\"+o+\")\";n.style.transform=\"scaleX(\"+r+\") scaleY(\"+o+\")\"}a.appendChild(n);this.video=n;var l=this;this.mediaDevices.getUserMedia({audio:false,video:this.params.constraints||{mandatory:{minWidth:this.params.dest_width,minHeight:this.params.dest_height}}}).then(function(t){n.onloadedmetadata=function(e){l.stream=t;l.loaded=true;l.live=true;l.dispatch(\"load\");l.dispatch(\"live\");l.flip()};if(\"srcObject\"in n){n.srcObject=t}else{n.src=e.URL.createObjectURL(t)}}).catch(function(e){if(l.params.enable_flash&&l.detectFlash()){setTimeout(function(){l.params.force_flash=1;l.attach(a)},1)}else{l.dispatch(\"error\",e)}})}else if(this.iOS){var h=document.createElement(\"div\");h.id=this.container.id+\"-ios_div\";h.className=\"webcamjs-ios-placeholder\";h.style.width=\"\"+this.params.width+\"px\";h.style.height=\"\"+this.params.height+\"px\";h.style.textAlign=\"center\";h.style.display=\"table-cell\";h.style.verticalAlign=\"middle\";h.style.backgroundRepeat=\"no-repeat\";h.style.backgroundSize=\"contain\";h.style.backgroundPosition=\"center\";var c=document.createElement(\"span\");c.className=\"webcamjs-ios-text\";c.innerHTML=this.params.iosPlaceholderText;h.appendChild(c);var d=document.createElement(\"img\");d.id=this.container.id+\"-ios_img\";d.style.width=\"\"+this.params.dest_width+\"px\";d.style.height=\"\"+this.params.dest_height+\"px\";d.style.display=\"none\";h.appendChild(d);var f=document.createElement(\"input\");f.id=this.container.id+\"-ios_input\";f.setAttribute(\"type\",\"file\");f.setAttribute(\"accept\",\"image/*\");f.setAttribute(\"capture\",\"camera\");var l=this;var m=this.params;f.addEventListener(\"change\",function(e){if(e.target.files.length>0&&e.target.files[0].type.indexOf(\"image/\")==0){var t=URL.createObjectURL(e.target.files[0]);var a=new Image;a.addEventListener(\"load\",function(e){var t=document.createElement(\"canvas\");t.width=m.dest_width;t.height=m.dest_height;var i=t.getContext(\"2d\");ratio=Math.min(a.width/m.dest_width,a.height/m.dest_height);var s=m.dest_width*ratio;var r=m.dest_height*ratio;var o=(a.width-s)/2;var n=(a.height-r)/2;i.drawImage(a,o,n,s,r,0,0,m.dest_width,m.dest_height);var l=t.toDataURL();d.src=l;h.style.backgroundImage=\"url('\"+l+\"')\"},false);var i=new FileReader;i.addEventListener(\"load\",function(e){var i=l.exifOrientation(e.target.result);if(i>1){l.fixOrientation(t,i,a)}else{a.src=t}},false);var s=new XMLHttpRequest;s.open(\"GET\",t,true);s.responseType=\"blob\";s.onload=function(e){if(this.status==200||this.status===0){i.readAsArrayBuffer(this.response)}};s.send()}},false);f.style.display=\"none\";a.appendChild(f);h.addEventListener(\"click\",function(e){if(m.user_callback){l.snap(m.user_callback,m.user_canvas)}else{f.style.display=\"block\";f.focus();f.click();f.style.display=\"none\"}},false);a.appendChild(h);this.loaded=true;this.live=true}else if(this.params.enable_flash&&this.detectFlash()){e.Webcam=Webcam;var h=document.createElement(\"div\");h.innerHTML=this.getSWFHTML();a.appendChild(h)}else{this.dispatch(\"error\",new i(this.params.noInterfaceFoundText))}if(this.params.crop_width&&this.params.crop_height){var p=Math.floor(this.params.crop_width*r);var u=Math.floor(this.params.crop_height*o);a.style.width=\"\"+p+\"px\";a.style.height=\"\"+u+\"px\";a.style.overflow=\"hidden\";a.scrollLeft=Math.floor(this.params.width/2-p/2);a.scrollTop=Math.floor(this.params.height/2-u/2)}else{a.style.width=\"\"+this.params.width+\"px\";a.style.height=\"\"+this.params.height+\"px\"}},reset:function(){if(this.preview_active)this.unfreeze();this.unflip();if(this.userMedia){if(this.stream){if(this.stream.getVideoTracks){var e=this.stream.getVideoTracks();if(e&&e[0]&&e[0].stop)e[0].stop()}else if(this.stream.stop){this.stream.stop()}}delete this.stream;delete this.video}if(this.userMedia!==true&&this.loaded&&!this.iOS){var t=this.getMovie();if(t&&t._releaseCamera)t._releaseCamera()}if(this.container){this.container.innerHTML=\"\";delete this.container}this.loaded=false;this.live=false},set:function(){if(arguments.length==1){for(var e in arguments[0]){this.params[e]=arguments[0][e]}}else{this.params[arguments[0]]=arguments[1]}},on:function(e,t){e=e.replace(/^on/i,\"\").toLowerCase();if(!this.hooks[e])this.hooks[e]=[];this.hooks[e].push(t)},off:function(e,t){e=e.replace(/^on/i,\"\").toLowerCase();if(this.hooks[e]){if(t){var a=this.hooks[e].indexOf(t);if(a>-1)this.hooks[e].splice(a,1)}else{this.hooks[e]=[]}}},dispatch:function(){var t=arguments[0].replace(/^on/i,\"\").toLowerCase();var s=Array.prototype.slice.call(arguments,1);if(this.hooks[t]&&this.hooks[t].length){for(var r=0,o=this.hooks[t].length;r<o;r++){var n=this.hooks[t][r];if(typeof n==\"function\"){n.apply(this,s)}else if(typeof n==\"object\"&&n.length==2){n[0][n[1]].apply(n[0],s)}else if(e[n]){e[n].apply(e,s)}}return true}else if(t==\"error\"){var l;if(s[0]instanceof a||s[0]instanceof i){l=s[0].message}else{l=\"Could not access webcam: \"+s[0].name+\": \"+s[0].message+\" \"+s[0].toString()}alert(\"Webcam.js Error: \"+l)}return false},setSWFLocation:function(e){this.set(\"swfURL\",e)},detectFlash:function(){var t=\"Shockwave Flash\",a=\"ShockwaveFlash.ShockwaveFlash\",i=\"application/x-shockwave-flash\",s=e,r=navigator,o=false;if(typeof r.plugins!==\"undefined\"&&typeof r.plugins[t]===\"object\"){var n=r.plugins[t].description;if(n&&(typeof r.mimeTypes!==\"undefined\"&&r.mimeTypes[i]&&r.mimeTypes[i].enabledPlugin)){o=true}}else if(typeof s.ActiveXObject!==\"undefined\"){try{var l=new ActiveXObject(a);if(l){var h=l.GetVariable(\"$version\");if(h)o=true}}catch(e){}}return o},getSWFHTML:function(){var t=\"\",i=this.params.swfURL;if(location.protocol.match(/file/)){this.dispatch(\"error\",new a(\"Flash does not work from local disk.  Please run from a web server.\"));return'<h3 style=\"color:red\">ERROR: the Webcam.js Flash fallback does not work from local disk.  Please run it from a web server.</h3>'}if(!this.detectFlash()){this.dispatch(\"error\",new a(\"Adobe Flash Player not found.  Please install from get.adobe.com/flashplayer and try again.\"));return'<h3 style=\"color:red\">'+this.params.flashNotDetectedText+\"</h3>\"}if(!i){var s=\"\";var r=document.getElementsByTagName(\"script\");for(var o=0,n=r.length;o<n;o++){var l=r[o].getAttribute(\"src\");if(l&&l.match(/\\/webcam(\\.min)?\\.js/)){s=l.replace(/\\/webcam(\\.min)?\\.js.*$/,\"\");o=n}}if(s)i=s+\"/webcam.swf\";else i=\"webcam.swf\"}if(e.localStorage&&!localStorage.getItem(\"visited\")){this.params.new_user=1;localStorage.setItem(\"visited\",1)}var h=\"\";for(var c in this.params){if(h)h+=\"&\";h+=c+\"=\"+escape(this.params[c])}t+='<object classid=\"clsid:d27cdb6e-ae6d-11cf-96b8-444553540000\" type=\"application/x-shockwave-flash\" codebase=\"'+this.protocol+'://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,0,0\" width=\"'+this.params.width+'\" height=\"'+this.params.height+'\" id=\"webcam_movie_obj\" align=\"middle\"><param name=\"wmode\" value=\"opaque\" /><param name=\"allowScriptAccess\" value=\"always\" /><param name=\"allowFullScreen\" value=\"false\" /><param name=\"movie\" value=\"'+i+'\" /><param name=\"loop\" value=\"false\" /><param name=\"menu\" value=\"false\" /><param name=\"quality\" value=\"best\" /><param name=\"bgcolor\" value=\"#ffffff\" /><param name=\"flashvars\" value=\"'+h+'\"/><embed id=\"webcam_movie_embed\" src=\"'+i+'\" wmode=\"opaque\" loop=\"false\" menu=\"false\" quality=\"best\" bgcolor=\"#ffffff\" width=\"'+this.params.width+'\" height=\"'+this.params.height+'\" name=\"webcam_movie_embed\" align=\"middle\" allowScriptAccess=\"always\" allowFullScreen=\"false\" type=\"application/x-shockwave-flash\" pluginspage=\"http://www.macromedia.com/go/getflashplayer\" flashvars=\"'+h+'\"></embed></object>';return t},getMovie:function(){if(!this.loaded)return this.dispatch(\"error\",new a(\"Flash Movie is not loaded yet\"));var e=document.getElementById(\"webcam_movie_obj\");if(!e||!e._snap)e=document.getElementById(\"webcam_movie_embed\");if(!e)this.dispatch(\"error\",new a(\"Cannot locate Flash movie in DOM\"));return e},freeze:function(){var e=this;var t=this.params;if(this.preview_active)this.unfreeze();var a=this.params.width/this.params.dest_width;var i=this.params.height/this.params.dest_height;this.unflip();var s=t.crop_width||t.dest_width;var r=t.crop_height||t.dest_height;var o=document.createElement(\"canvas\");o.width=s;o.height=r;var n=o.getContext(\"2d\");this.preview_canvas=o;this.preview_context=n;if(a!=1||i!=1){o.style.webkitTransformOrigin=\"0px 0px\";o.style.mozTransformOrigin=\"0px 0px\";o.style.msTransformOrigin=\"0px 0px\";o.style.oTransformOrigin=\"0px 0px\";o.style.transformOrigin=\"0px 0px\";o.style.webkitTransform=\"scaleX(\"+a+\") scaleY(\"+i+\")\";o.style.mozTransform=\"scaleX(\"+a+\") scaleY(\"+i+\")\";o.style.msTransform=\"scaleX(\"+a+\") scaleY(\"+i+\")\";o.style.oTransform=\"scaleX(\"+a+\") scaleY(\"+i+\")\";o.style.transform=\"scaleX(\"+a+\") scaleY(\"+i+\")\"}this.snap(function(){o.style.position=\"relative\";o.style.left=\"\"+e.container.scrollLeft+\"px\";o.style.top=\"\"+e.container.scrollTop+\"px\";e.container.insertBefore(o,e.peg);e.container.style.overflow=\"hidden\";e.preview_active=true},o)},unfreeze:function(){if(this.preview_active){this.container.removeChild(this.preview_canvas);delete this.preview_context;delete this.preview_canvas;this.preview_active=false;this.flip()}},flip:function(){if(this.params.flip_horiz){var e=this.container.style;e.webkitTransform=\"scaleX(-1)\";e.mozTransform=\"scaleX(-1)\";e.msTransform=\"scaleX(-1)\";e.oTransform=\"scaleX(-1)\";e.transform=\"scaleX(-1)\";e.filter=\"FlipH\";e.msFilter=\"FlipH\"}},unflip:function(){if(this.params.flip_horiz){var e=this.container.style;e.webkitTransform=\"scaleX(1)\";e.mozTransform=\"scaleX(1)\";e.msTransform=\"scaleX(1)\";e.oTransform=\"scaleX(1)\";e.transform=\"scaleX(1)\";e.filter=\"\";e.msFilter=\"\"}},savePreview:function(e,t){var a=this.params;var i=this.preview_canvas;var s=this.preview_context;if(t){var r=t.getContext(\"2d\");r.drawImage(i,0,0)}e(t?null:i.toDataURL(\"image/\"+a.image_format,a.jpeg_quality/100),i,s);if(this.params.unfreeze_snap)this.unfreeze()},snap:function(e,t){if(!e)e=this.params.user_callback;if(!t)t=this.params.user_canvas;var a=this;var s=this.params;if(!this.loaded)return this.dispatch(\"error\",new i(\"Webcam is not loaded yet\"));if(!e)return this.dispatch(\"error\",new i(\"Please provide a callback function or canvas to snap()\"));if(this.preview_active){this.savePreview(e,t);return null}var r=document.createElement(\"canvas\");r.width=this.params.dest_width;r.height=this.params.dest_height;var o=r.getContext(\"2d\");if(this.params.flip_horiz){o.translate(s.dest_width,0);o.scale(-1,1)}var n=function(){if(this.src&&this.width&&this.height){o.drawImage(this,0,0,s.dest_width,s.dest_height)}if(s.crop_width&&s.crop_height){var a=document.createElement(\"canvas\");a.width=s.crop_width;a.height=s.crop_height;var i=a.getContext(\"2d\");i.drawImage(r,Math.floor(s.dest_width/2-s.crop_width/2),Math.floor(s.dest_height/2-s.crop_height/2),s.crop_width,s.crop_height,0,0,s.crop_width,s.crop_height);o=i;r=a}if(t){var n=t.getContext(\"2d\");n.drawImage(r,0,0)}e(t?null:r.toDataURL(\"image/\"+s.image_format,s.jpeg_quality/100),r,o)};if(this.userMedia){o.drawImage(this.video,0,0,this.params.dest_width,this.params.dest_height);n()}else if(this.iOS){var l=document.getElementById(this.container.id+\"-ios_div\");var h=document.getElementById(this.container.id+\"-ios_img\");var c=document.getElementById(this.container.id+\"-ios_input\");iFunc=function(e){n.call(h);h.removeEventListener(\"load\",iFunc);l.style.backgroundImage=\"none\";h.removeAttribute(\"src\");c.value=null};if(!c.value){h.addEventListener(\"load\",iFunc);c.style.display=\"block\";c.focus();c.click();c.style.display=\"none\"}else{iFunc(null)}}else{var d=this.getMovie()._snap();var h=new Image;h.onload=n;h.src=\"data:image/\"+this.params.image_format+\";base64,\"+d}return null},configure:function(e){if(!e)e=\"camera\";this.getMovie()._configure(e)},flashNotify:function(e,t){switch(e){case\"flashLoadComplete\":this.loaded=true;this.dispatch(\"load\");break;case\"cameraLive\":this.live=true;this.dispatch(\"live\");break;case\"error\":this.dispatch(\"error\",new a(t));break;default:break}},b64ToUint6:function(e){return e>64&&e<91?e-65:e>96&&e<123?e-71:e>47&&e<58?e+4:e===43?62:e===47?63:0},base64DecToArr:function(e,t){var a=e.replace(/[^A-Za-z0-9\\+\\/]/g,\"\"),i=a.length,s=t?Math.ceil((i*3+1>>2)/t)*t:i*3+1>>2,r=new Uint8Array(s);for(var o,n,l=0,h=0,c=0;c<i;c++){n=c&3;l|=this.b64ToUint6(a.charCodeAt(c))<<18-6*n;if(n===3||i-c===1){for(o=0;o<3&&h<s;o++,h++){r[h]=l>>>(16>>>o&24)&255}l=0}}return r},upload:function(e,t,a){var i=this.params.upload_name||\"webcam\";var s=\"\";if(e.match(/^data\\:image\\/(\\w+)/))s=RegExp.$1;else throw\"Cannot locate image format in Data URI\";var r=e.replace(/^data\\:image\\/\\w+\\;base64\\,/,\"\");var o=new XMLHttpRequest;o.open(\"POST\",t,true);if(o.upload&&o.upload.addEventListener){o.upload.addEventListener(\"progress\",function(e){if(e.lengthComputable){var t=e.loaded/e.total;Webcam.dispatch(\"uploadProgress\",t,e)}},false)}var n=this;o.onload=function(){if(a)a.apply(n,[o.status,o.responseText,o.statusText]);Webcam.dispatch(\"uploadComplete\",o.status,o.responseText,o.statusText)};var l=new Blob([this.base64DecToArr(r)],{type:\"image/\"+s});var h=new FormData;h.append(i,l,i+\".\"+s.replace(/e/,\"\"));o.send(h)}};Webcam.init();if(typeof define===\"function\"&&define.amd){define(function(){return Webcam})}else if(typeof module===\"object\"&&module.exports){module.exports=Webcam}else{e.Webcam=Webcam}})(window);\n</script>\n<script>\nfunction book(){\n    window.setTimeout(\"window.location.href='https://node-red-oznyt.eu-gb.mybluemix.net/ui'\",10);\n}\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  \"<font color='white'>\"+row.class+\"</font>\";\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\tif (row.score!='')\n\t\t\t\thtml +=  \"<button onclick='book()'>Book Ticket</button>\";\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>Please! Retake the picture</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n\t    window.setTimeout('take_snapshot()',3000);\n    function convertURIToImageData(URI) {\n  return new Promise(function(resolve, reject) {\n    if (URI == null) return reject();\n    var canvas = document.createElement('canvas'),\n        context = canvas.getContext('2d'),\n        image = new Image();\n    image.addEventListener('load', function() {\n      canvas.width = image.width;\n      canvas.height = image.height;\n      context.drawImage(image, 0, 0, canvas.width, canvas.height);\n      resolve(context.getImageData(0, 0, canvas.width, canvas.height));\n    }, false);\n    image.src = URI;\n  });\n}\n    Webcam.set({\n        width:360,\n        height: 400,\n        image_format:'png'\n    })\n    Webcam.attach(\"#camera\")\n    function take_snapshot(){\n        Webcam.snap(function(data_uri){\n            document.getElementById('res').innerHTML='<img src=\"'+data_uri+'\"/>';\n            convertURIToImageData(data_uri).then(function(imageData) {\n                x=Array.prototype.slice.call(imageData.data);//JSON.stringify(Array.prototype.slice.call(imageData.data));\n                x=data_uri;\n});\n        });\n    }\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>\n<script>\n\n\n</script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":640,"wires":[["cd25690e.5eff28"]]},{"id":"adc1fe66.d6951","type":"ui_template","z":"9fed82f8.e357d","group":"166ce65f.db21aa","name":"Bus stops","order":1,"width":14,"height":10,"format":"<html>\n<style>\n    /* Always set the map height explicitly to define the size of the div\n * element that contains the map. */\n#map {\n  height: 100%;\n}\n/* Optional: Makes the sample page fill the window. */\nhtml, body {\n  height: 100%;\n  margin: 0;\n  padding: 0;\n}\n#right-panel {\n  font-family: Arial, Helvetica, sans-serif;\n  position: absolute;\n  right: 5px;\n  top: 70%;\n  margin-top: -195px;\n  height: 320px;\n  width: 180px;\n  padding: 5px;\n  z-index: 5;\n  border: 1px solid #999;\n  background:#303030;\n  color:black;\n}\n\n#right-panel select, #right-panel input {\n  font-size: 15px;\n}\n\n#right-panel select {\n  width: 100%;\n}\n\n#right-panel i {\n  font-size: 12px;\n}\n#right-panel {\n  font-family: Arial, Helvetica, sans-serif;\n  position: absolute;\n  right: 5px;\n  top: 60%;\n  margin-top: -195px;\n  height: 340px;\n  width: 200px;\n  padding: 5px;\n  z-index: 5;\n  border: 1px solid #999;\n  background:#f8f8f8;\n}\nh2 {\n  font-size: 22px;\n  margin: 0 0 5px 0;\n}\nul {\n  list-style-type: none;\n  padding: 0;\n  margin: 0;\n  height: 271px;\n  width: 200px;\n  overflow-y: scroll;\n}\nli {\n  background-color: #f1f1f1;\n  padding: 10px;\n  text-overflow: ellipsis;\n  white-space: nowrap;\n  overflow: hidden;\n}\nli:nth-child(odd) {\n  background-color: #fcfcfc;\n}\n#more {\n  width: 100%;\n  margin: 5px 0 0 0;\n}\n</style>\n<script>\n    var lati;\nvar lon;\nvar map;\nvar x = document.getElementById(\"demo\");\n\nfunction getLocation() {\n  if (navigator.geolocation) {\n    navigator.geolocation.getCurrentPosition(showPosition);\n  } else { \n    x.innerHTML = \"Geolocation is not supported by this browser.\";\n  }\n}\n  \n\nfunction showPosition(position) {\n   lati= position.coords.latitude; \n   lon= position.coords.longitude;\n   initMap();\n}\n\nfunction initMap() {\n  // Create the map.\n  var x = lati;\n  var y=lon;\n  var pyrmont = {lat: x, lng: y};\n  map = new google.maps.Map(document.getElementById('map'), {\n    center: pyrmont,\n    zoom: 17\n  });\n\n  // Create the places service.\n  var service = new google.maps.places.PlacesService(map);\n  var getNextPage = null;\n  var moreButton = document.getElementById('more');\n  moreButton.onclick = function() {\n    moreButton.disabled = true;\n    if (getNextPage) getNextPage();\n  };\n\n  // Perform a nearby search.\n  service.nearbySearch(\n      {location: pyrmont, radius: 3000, type: ['train_station','transit_station','bus_station','light_rail_station']},\n      function(results, status, pagination) {\n        if (status !== 'OK') return;\n\n        createMarkers(results);\n        moreButton.disabled = !pagination.hasNextPage;\n        getNextPage = pagination.hasNextPage && function() {\n          pagination.nextPage();\n        };\n      });\ninit();}\n\nfunction createMarkers(places) {\n  var bounds = new google.maps.LatLngBounds();\n  var placesList = document.getElementById('places');\n\n  for (var i = 0, place; place = places[i]; i++) {\n    var image = {\n      url: \"https://www.freeiconspng.com/uploads/transportation-icon-png-3.png\",\n      size: new google.maps.Size(71, 71),\n      origin: new google.maps.Point(0, 0),\n      anchor: new google.maps.Point(17, 34),\n      scaledSize: new google.maps.Size(25, 25)\n    };\n\n    var marker = new google.maps.Marker({\n        \n      map: map,\n      icon:image,\n      title: place.name,\n      position: place.geometry.location\n    });\n\n    var li = document.createElement('li');\n    li.textContent = place.name;\n    placesList.appendChild(li);\n\n    bounds.extend(place.geometry.location);\n  }\n  map.fitBounds(bounds);\n}\n\n\n</script>\n<body>\n    <button onclick=\"getLocation()\"style=\"background-color:#0094CE;font-size:150%;\" >FIND NEARBY TRANSIT STATIONS</button>\n    <p id=\"demo\"></p>\n    <div id=\"map\"></div>\n    <div id=\"right-panel\">\n      <h2><font color='#0094CE'>RESULTS</font></h2>\n      <ul id=\"places\"></ul>\n      <button id=\"more\" style=\"background-color:#0094CE;\">More results</button>\n    </div>\n    <!-- Replace the value of the key parameter with your own API key. -->\n    <script async defer src=\"https://maps.googleapis.com/maps/api/js?key=(ENTER YOU KEY)&libraries=places&callback=initMap\"></script>\n    <script>\n    const createMap = ({ lat, lng }) => {\n      return new google.maps.Map(document.getElementById('map'), {\n        center: { lat, lng },\n        zoom: 10\n      });\n    };\n    const createMarker = ({ map, position }) => {\n      return new google.maps.Marker({ map, position });\n    };\n    \n    /**\n     * Track the user location.\n     * @param {Object} onSuccess\n     * @param {Object} [onError]\n     * @return {number}\n     */\n    const trackLocation = ({ onSuccess, onError = () => { } }) => {\n      if ('geolocation' in navigator === false) {\n        return onError(new Error('Geolocation is not supported by your browser.'));\n      }\n    \n      return navigator.geolocation.watchPosition(onSuccess, onError, {\n        enableHighAccuracy: true,\n        timeout: 5000,\n        maximumAge: 0\n      });\n    };\n    \n    /**\n     * Get position error message from the given error code.\n     * @param {number} code\n     * @return {String}\n     */\n    const getPositionErrorMessage = code => {\n      switch (code) {\n        case 1:\n          return 'Permission denied.';\n        case 2:\n          return 'Position unavailable.';\n        case 3:\n          return 'Timeout reached.';\n      }\n    }\n    \n    /**\n     * Initialize the application.\n     * Automatically called by the google maps API once it's loaded.\n    */\n    function init() {\n         \n      const initialPosition = { lat: 59.32, lng: 17.84 };\n    //   const map = createMap(initialPosition);\n      const marker = createMarker({ map, position: initialPosition });\n      const $info = document.getElementById('info');\n    \n      let watchId = trackLocation({\n        onSuccess: ({ coords: { latitude: lat, longitude: lng } }) => {\n          marker.setPosition({ lat, lng });\n          map.panTo({ lat, lng });\n          $info.textContent = `Lat: ${lat.toFixed(5)} Lng: ${lng.toFixed(5)}`;\n          $info.classList.remove('error');\n        },\n        onError: err => {\n          console.log($info);\n          $info.textContent = `Error: ${err.message || getPositionErrorMessage(err.code)}`;\n          $info.classList.add('error');\n        }\n      });\n    }\n    </script>\n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":120,"y":760,"wires":[[]]},{"id":"bd9c45cc.5e29b8","type":"ui_template","z":"9fed82f8.e357d","group":"56b7d6b0.88cae8","name":"Routes","order":1,"width":14,"height":10,"format":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Place Autocomplete and Directions</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <style>\n      /* Always set the map height explicitly to define the size of the div\n       * element that contains the map. */\n      #map {\n        height: 100%;\n      }\n      /* Optional: Makes the sample page fill the window. */\n      html, body {\n        height: 100%;\n        margin: 0;\n        padding: 0;\n      }\n      .controls {\n        margin-top: 10px;\n        border: 1px solid transparent;\n        border-radius: 2px 0 0 2px;\n        box-sizing: border-box;\n        -moz-box-sizing: border-box;\n        height: 32px;\n        outline: none;\n        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n      }\n\n      #origin-input,\n      #destination-input {\n        background-color: #fff;\n        font-family: Roboto;\n        font-size: 15px;\n        font-weight: 300;\n        margin-left: 12px;\n        padding: 0 11px 0 13px;\n        text-overflow: ellipsis;\n        width: 200px;\n      }\n\n      #origin-input:focus,\n      #destination-input:focus {\n        border-color: #4d90fe;\n      }\n\n      #mode-selector {\n        color: #fff;\n        background-color: #0094CE;\n        margin-left: 12px;\n        padding: 5px 11px 0px 11px;\n      }\n\n      #mode-selector label {\n        font-family: Roboto;\n        font-size: 13px;\n        font-weight: 300;\n      }\n\n    </style>\n  </head>\n  <body>\n    <div style=\"display: none\">\n        <input id=\"origin-input\" class=\"controls\" type=\"text\"\n            placeholder=\"Origin location\">\n\n        <input id=\"destination-input\" class=\"controls\" type=\"text\"\n            placeholder=\"Destination location\">\n\n        <div id=\"mode-selector\" class=\"controls\">\n          <input type=\"radio\" name=\"type\" id=\"changemode-walking\" checked=\"checked\">\n          <label for=\"changemode-walking\">Walk</label>\n\n          <input type=\"radio\" name=\"type\" id=\"changemode-transit\">\n          <label for=\"changemode-transit\">Public Transport</label>\n\n          <input type=\"radio\" name=\"type\" id=\"changemode-driving\">\n          <label for=\"changemode-driving\">Drive</label>\n        </div>\n    </div>\n\n    <div id=\"map\"></div>\n\n    <script>\n// This example requires the Places library. Include the libraries=places\n// parameter when you first load the API. For example:\n// <script\n// src=\"https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places\">\n\nfunction initMap() {\n  var map = new google.maps.Map(document.getElementById('map'), {\n    mapTypeControl: false,\n    center: {lat: -33.8688, lng: 151.2195},\n    zoom: 13\n  });\n\n  new AutocompleteDirectionsHandler(map);\n}\n\n/**\n * @constructor\n */\nfunction AutocompleteDirectionsHandler(map) {\n  this.map = map;\n  this.originPlaceId = null;\n  this.destinationPlaceId = null;\n  this.travelMode = 'WALKING';\n  this.directionsService = new google.maps.DirectionsService;\n  this.directionsRenderer = new google.maps.DirectionsRenderer;\n  this.directionsRenderer.setMap(map);\n\n  var originInput = document.getElementById('origin-input');\n  var destinationInput = document.getElementById('destination-input');\n  var modeSelector = document.getElementById('mode-selector');\n\n  var originAutocomplete = new google.maps.places.Autocomplete(originInput);\n  // Specify just the place data fields that you need.\n  originAutocomplete.setFields(['place_id']);\n\n  var destinationAutocomplete =\n      new google.maps.places.Autocomplete(destinationInput);\n  // Specify just the place data fields that you need.\n  destinationAutocomplete.setFields(['place_id']);\n\n  this.setupClickListener('changemode-walking', 'WALKING');\n  this.setupClickListener('changemode-transit', 'TRANSIT');\n  this.setupClickListener('changemode-driving', 'DRIVING');\n\n  this.setupPlaceChangedListener(originAutocomplete, 'ORIG');\n  this.setupPlaceChangedListener(destinationAutocomplete, 'DEST');\n\n  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(originInput);\n  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(\n      destinationInput);\n  this.map.controls[google.maps.ControlPosition.TOP_LEFT].push(modeSelector);\n}\n\n// Sets a listener on a radio button to change the filter type on Places\n// Autocomplete.\nAutocompleteDirectionsHandler.prototype.setupClickListener = function(\n    id, mode) {\n  var radioButton = document.getElementById(id);\n  var me = this;\n\n  radioButton.addEventListener('click', function() {\n    me.travelMode = mode;\n    me.route();\n  });\n};\n\nAutocompleteDirectionsHandler.prototype.setupPlaceChangedListener = function(\n    autocomplete, mode) {\n  var me = this;\n  autocomplete.bindTo('bounds', this.map);\n\n  autocomplete.addListener('place_changed', function() {\n    var place = autocomplete.getPlace();\n\n    if (!place.place_id) {\n      window.alert('Please select an option from the dropdown list.');\n      return;\n    }\n    if (mode === 'ORIG') {\n      me.originPlaceId = place.place_id;\n    } else {\n      me.destinationPlaceId = place.place_id;\n    }\n    me.route();\n  });\n};\n\nAutocompleteDirectionsHandler.prototype.route = function() {\n  if (!this.originPlaceId || !this.destinationPlaceId) {\n    return;\n  }\n  var me = this;\n\n  this.directionsService.route(\n      {\n        origin: {'placeId': this.originPlaceId},\n        destination: {'placeId': this.destinationPlaceId},\n        travelMode: this.travelMode\n      },\n      function(response, status) {\n        if (status === 'OK') {\n          me.directionsRenderer.setDirections(response);\n        } else {\n          window.alert('Directions request failed due to ' + status);\n        }\n      });\n};\n\n    </script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=(ENTER YOUR KEY)&libraries=places&callback=initMap\"\n        async defer></script>\n  </body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":260,"y":760,"wires":[[]]},{"id":"9240af90.8a5ec","type":"ui_template","z":"9fed82f8.e357d","group":"3305b022.f1545","name":"Search Anything","order":1,"width":14,"height":11,"format":"<!DOCTYPE html>\n<html>\n  <head>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <title>Places Search Box</title>\n    <style>\n      /* Always set the map height explicitly to define the size of the div\n       * element that contains the map. */\n      #map {\n        height: 100%;\n      }\n      /* Optional: Makes the sample page fill the window. */\n      html, body {\n        height: 100%;\n        margin: 0;\n        padding: 0;\n      }\n      #description {\n        font-family: Roboto;\n        font-size: 15px;\n        font-weight: 300;\n      }\n\n      #infowindow-content .title {\n        font-weight: bold;\n      }\n\n      #infowindow-content {\n        display: none;\n      }\n\n      #map #infowindow-content {\n        display: inline;\n      }\n\n      .pac-card {\n        margin: 10px 10px 0 0;\n        border-radius: 2px 0 0 2px;\n        box-sizing: border-box;\n        -moz-box-sizing: border-box;\n        outline: none;\n        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);\n        background-color: #fff;\n        font-family: Roboto;\n      }\n\n      #pac-container {\n        padding-bottom: 12px;\n        margin-right: 12px;\n      }\n\n      .pac-controls {\n        display: inline-block;\n        padding: 5px 11px;\n      }\n\n      .pac-controls label {\n        font-family: Roboto;\n        font-size: 13px;\n        font-weight: 300;\n      }\n\n      #pac-input {\n        background-color: #fff;\n        font-family: Roboto;\n        font-size: 15px;\n        font-weight: 300;\n        margin-left: 12px;\n        padding: 0 11px 0 13px;\n        text-overflow: ellipsis;\n        width: 400px;\n      }\n\n      #pac-input:focus {\n        border-color: #4d90fe;\n      }\n\n      #title {\n        color: #fff;\n        background-color: #4d90fe;\n        font-size: 25px;\n        font-weight: 500;\n        padding: 6px 12px;\n      }\n      #target {\n        width: 345px;\n      }\n    </style>\n  </head>\n  <body>\n    <input id=\"pac-input\" class=\"controls\" type=\"text\" placeholder=\"Search Box\">\n    <div id=\"map\"></div>\n    <script>\n      // This example adds a search box to a map, using the Google Place Autocomplete\n      // feature. People can enter geographical searches. The search box will return a\n      // pick list containing a mix of places and predicted search terms.\n\n      // This example requires the Places library. Include the libraries=places\n      // parameter when you first load the API. For example:\n      // <script src=\"https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places\">\n\n      function initAutocomplete() {\n        var map = new google.maps.Map(document.getElementById('map'), {\n          center: {lat: 20.5937, lng: 78.9629},\n          zoom: 13,\n          mapTypeId: 'roadmap'\n        });\n\n        // Create the search box and link it to the UI element.\n        var input = document.getElementById('pac-input');\n        var searchBox = new google.maps.places.SearchBox(input);\n        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);\n\n        // Bias the SearchBox results towards current map's viewport.\n        map.addListener('bounds_changed', function() {\n          searchBox.setBounds(map.getBounds());\n        });\n\n        var markers = [];\n        // Listen for the event fired when the user selects a prediction and retrieve\n        // more details for that place.\n        searchBox.addListener('places_changed', function() {\n          var places = searchBox.getPlaces();\n\n          if (places.length == 0) {\n            return;\n          }\n\n          // Clear out the old markers.\n          markers.forEach(function(marker) {\n            marker.setMap(null);\n          });\n          markers = [];\n\n          // For each place, get the icon, name and location.\n          var bounds = new google.maps.LatLngBounds();\n          places.forEach(function(place) {\n            if (!place.geometry) {\n              console.log(\"Returned place contains no geometry\");\n              return;\n            }\n            var icon = {\n              url: place.icon,\n              size: new google.maps.Size(71, 71),\n              origin: new google.maps.Point(0, 0),\n              anchor: new google.maps.Point(17, 34),\n              scaledSize: new google.maps.Size(25, 25)\n            };\n\n            // Create a marker for each place.\n            markers.push(new google.maps.Marker({\n              map: map,\n              icon: icon,\n              title: place.name,\n              position: place.geometry.location\n            }));\n\n            if (place.geometry.viewport) {\n              // Only geocodes have viewport.\n              bounds.union(place.geometry.viewport);\n            } else {\n              bounds.extend(place.geometry.location);\n            }\n          });\n          map.fitBounds(bounds);\n        });\n      }\n\n    </script>\n    <script src=\"https://maps.googleapis.com/maps/api/js?key=(ENTER YOUR KEY)&libraries=places&callback=initAutocomplete\"\n         async defer></script>\n  </body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":760,"wires":[[]]},{"id":"ae619408.acece8","type":"ibmiot in","z":"9fed82f8.e357d","authentication":"apiKey","apiKey":"857fbbf0.7ffb88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"+temperature_gun","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":60,"wires":[["1f712ced.efddb3"]]},{"id":"fd4195d5.ec7158","type":"image viewer","z":"9fed82f8.e357d","name":"","width":"100","data":"payload","dataType":"msg","x":250,"y":680,"wires":[["41dea8e4.32b9b8"]]},{"id":"cd25690e.5eff28","type":"jimp-image","z":"9fed82f8.e357d","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":250,"y":640,"wires":[["41dea8e4.32b9b8"]]},{"id":"9bd575a1.6da9a8","type":"cloudant","z":"","host":"ea24bedd-202b-460a-b443-ac042fc9afa9-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"e117ab5d.1c10c8","type":"cloudant","z":"","host":"ea24bedd-202b-460a-b443-ac042fc9afa9-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"d4bc6d58.29fc","type":"ui_group","z":0,"name":"Measure","tab":"d076beee.1e7fd","order":2,"disp":true,"width":9,"collapse":false},{"id":"f60e028f.36bcb","type":"ui_group","z":0,"name":"Covid-19 ChatBot","tab":"4f214373.b1d43c","order":1,"disp":true,"width":"10","collapse":false},{"id":"5859af2b.e1fa2","type":"ui_group","z":0,"name":"Check","tab":"dd395fe8.de02c","order":1,"disp":true,"width":11,"collapse":false},{"id":"508f9455.4a604c","type":"ui_group","z":0,"name":"Search","tab":"26d7fc02.37ced4","order":1,"disp":true,"width":13,"collapse":false},{"id":"734e99f5.255d68","type":"ui_group","z":0,"name":"Stay Updated","tab":"6cac322d.4ff14c","order":1,"disp":false,"width":"15","collapse":false},{"id":"166ce65f.db21aa","type":"ui_group","z":0,"name":"Nearby Stations","tab":"84a19671.f18aa8","order":1,"disp":true,"width":"14","collapse":false},{"id":"56b7d6b0.88cae8","type":"ui_group","z":0,"name":"Routes","tab":"46980b88.d1db54","order":1,"disp":true,"width":14,"collapse":false},{"id":"3305b022.f1545","type":"ui_group","z":0,"name":"Eg: Hospitals near me.","tab":"225169e6.fbd3e6","order":1,"disp":true,"width":14,"collapse":false},{"id":"857fbbf0.7ffb88","type":"ibmiot","z":0,"name":"Temperature_gun","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"d076beee.1e7fd","type":"ui_tab","z":0,"name":"Measure","icon":"fa-thermometer-half","order":2,"disabled":false,"hidden":false},{"id":"4f214373.b1d43c","type":"ui_tab","z":0,"name":"Covid-19 ChatBot","icon":"fa-comments-o","order":8,"disabled":false,"hidden":false},{"id":"dd395fe8.de02c","type":"ui_tab","z":0,"name":"Check for Mask","icon":"fa-user","order":4,"disabled":false,"hidden":false},{"id":"26d7fc02.37ced4","type":"ui_tab","z":0,"name":"Search","icon":"fa-search","order":3,"disabled":false,"hidden":false},{"id":"6cac322d.4ff14c","type":"ui_tab","z":0,"name":"Updates","icon":"fa-globe","order":1,"disabled":false,"hidden":false},{"id":"84a19671.f18aa8","type":"ui_tab","z":0,"name":"Nearby stations","icon":"fa-bus","order":6,"disabled":false,"hidden":false},{"id":"46980b88.d1db54","type":"ui_tab","z":0,"name":"Find Alternative Route","icon":"fa-map","order":7,"disabled":false,"hidden":false},{"id":"225169e6.fbd3e6","type":"ui_tab","z":0,"name":"Search Anything. Eg. Hospitals, Pharmacies, etc.","icon":"fa-truck","order":5,"disabled":false,"hidden":false}]
